body {
  background-color: lightsalmon;
}

h1 {
  text-align: center;
  color: darkred;
}

ol, li {
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 15%;
}

#center {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h2 {
  text-align: center;
}

#submitBtn {
  display: block;
  margin: 15px auto;
  width: 10%;
  height: 15%;
}
